

.excursiones{ background-color: $colorUno;
    color: $colorTres;
    font-size: 30px;
    font-weight: 40px;
}

.excursiones-2 {
    background-color: $colorUno;
    color: $colorTres;

}


.card {
    background-color: grey;
}


.card-title {
    color: whitesmoke;
}


.card-text {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;

}

.card-3 {
    color: whitesmoke;
    font-size: 10px;
    text-align: right;
}


.precio{
    color: whitesmoke;
    font-size: 20px;
}

.boton-1 {
    align-content: center;
}


