
.leye3 {font-size: 25px; font-style: italic; }

footer { text-align: center;}

.pie-p {margin-top: 30px;}



.aside {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

